body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}



.top, .footer {
    background-color: #1F2937;
    color: white;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-list {
    display: flex;
    gap: 20px;
}

.intro {
    display: flex;
    padding: 100px 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 490px;
}

.intro-title {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.intro-text {
    margin: 10px 0;
}

.intro-image img {
    height: auto;
    width: 400px;
    border-radius: 12px;
}

.intro-button {
    padding: 10px 0;
    margin: 10px 0;
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: #2e6bce;

}

button:active {
    background-color: #1d4079;

}



button a {
    padding: 10px 40px;
}


ul {
    padding: 0;
}
li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #F9FAF8;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 100px 0;
    gap: 20px;
}

.information-content {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
}

.information-box img {
    height: auto;
    width: 150px;
    border-radius: 12px;
}

.image-captions {
    font-size: 18px;
    color: #8b8b8b;
    max-width: 150px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 10%;

}

.quote-content {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #3b3b3b;
    margin: 0;
}

.quote-signature {
    font-weight: lighter;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    background-color: #3882F6;
    border-radius: 8px;
    width: 70%;
    margin: 80px 0;
    padding: 40px 10px;
    color: white;
    

}


.action-title, .action-text {
    margin: 0;
}


.action-title {
    font-size: larger;
}

.action-button {
    background-color: transparent;
    border-radius: 9px;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px 0;
}